  *{
    padding: 0px;
    margin: 0px;
}



.custom-shape-divider-bottom-1685105879 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685105879 svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1685105879 .shape-fill {
  fill: #185AAF;
}